html {
  box-sizing: border-box;
}

*,
::after,
::before {
  box-sizing: inherit;
}

::selection {
  background-color: hsla(214, 41%, 25%, 0.804);

  color: rgb(255, 255, 255);
}

::-moz-selection {
  background-color: rgba(69, 54, 110, 0.763);
  color: rgb(255, 255, 255);
}

body {
  font-family: "Roboto Mono", monospace;
  background: url(img/background-4k.jpg) no-repeat center center fixed;
  background-size: cover;
}

.header {
  margin: 1.5em;
}

.header__title {
  color: white;
  text-shadow: 2px 1px 2px rgba(255, 255, 255, 0.477);
  opacity: 0.8;
  font-weight: 300;
}

.article {
  margin: 0 auto;
  max-width: 400px;
}

.form {
  display: flex;
  flex-flow: column nowrap;
  margin-top: 10vh;
  padding: 5px;
}

.form__input-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  padding: 2px 6px 0px 9px;
  margin-bottom: 5px;
}

.form__input-wrapper:hover {
  background: hsl(0, 0%, 100%);
}

.form__input-wrapper:active {
  background: rgb(255, 255, 255);
  /* color: white; */
}

.form__label {
  display: block;
  height: 22px;
  font-size: 16px;
  font-weight: 300;
  user-select: none;
}

.form__value {
  flex: 1;
  outline: none;
  border: 1px solid transparent;
  border-radius: 3px;
  background-color: transparent;
  text-align: right;
  padding: 5px 5px;
  -moz-appearance: textfield;
}

.form__value::-webkit-outer-spin-button,
.form__value::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.form__select {
  color: inherit;
  border: none;
  font-size: 16px;
  font-weight: 300;
  background-color: transparent;
  user-select: none;
  outline: transparent;
}

.form__reset {
  margin-top: 20px;
  padding: 4px 6px 6px;
  font-size: 14px;
  font-weight: 300;
  border: 1px solid rgb(0, 0, 0);
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 5px;
  margin-left: auto;
  margin-right: 0;
}

.form__reset:hover {
  background: hsl(0, 0%, 100%);
}

.form__reset:active {
  background: rgb(255, 255, 255);
  color: rgb(255, 255, 255);
}

.footer {
  color: white;
  opacity: 0.7;
  position: fixed;
  bottom: 0;
  right: 0;
  user-select: none;
}
.footer__text {
  font-size: 14px;
  margin: 0.4em;
}

.footer__copyright {
  font-size: 18px;
}